body{
	font-family: 'Arima Madurai', cursive;
	background-image:linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ),url("background.jpg");
	background-size: 100%;
	background-color: #ff0000;

}
.new-look{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
	
}
h4{
	font-weight: bold;
}